services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - web_node_modules:/app/node_modules
      - web_next:/app/.next
    environment:
      - NEXT_PUBLIC_API_URL=http://server:4000/v1
      - WATCHPACK_POLLING=true
    depends_on:
      - server

  server:
    build:
      context: ../irubitteo_server
      dockerfile: Dockerfile.dev
    ports:
      - "4000:4000"
    volumes:
      - ../irubitteo_server:/app
      - server_node_modules:/app/node_modules
    env_file:
      - ../irubitteo_server/.env

volumes:
  web_node_modules:
  web_next:
  server_node_modules:
